@import lib.model.ToDoCategory
@import model.ViewValueToDoCategory.ToDoCategoryFormData
@(id: Long, form: Form[ToDoCategoryFormData])(implicit messagesProvider: MessagesProvider, requestHeader: RequestHeader)

@common.Default() {
    @helper.form(action = controllers.routes.CategoryController.update(id)) {
        @helper.CSRF.formField
        @helper.inputText(form("name"),
            '_label -> "カテゴリ名"
        )
        @helper.inputText(form("slug"),
            '_label -> "スラッグ")
        @helper.select(
            form("color"),
            options = ToDoCategory.Colors.values.map(color => (color.code.toString, color.name)),
            '_label -> "カラー"
        )
        <input type="submit" value="更新">
    }
}