@import model.ViewValueToDoCategory
@(toDoCategoryInfoList: Seq[ViewValueToDoCategory])(implicit messagesProvider: MessagesProvider, requestHeader: RequestHeader)
    @common.Default() {
        @for(toDoCategoryInfo <- toDoCategoryInfoList) {
            @helper.form(action = controllers.routes.CategoryController.delete()) {
                @helper.CSRF.formField
                <div id="category@toDoCategoryInfo.id" class="category" >
                    <input type="hidden" value="@toDoCategoryInfo.id" name="id">
                    <div><h3>@toDoCategoryInfo.name</h3></div>
                    <div>スラッグ：@toDoCategoryInfo.slug</div>
                    <input class="category_color" type="hidden" value=@toDoCategoryInfo.color>
                    <a href="@controllers.routes.CategoryController.edit(toDoCategoryInfo.id)">
                        <button type="button">編集</button>
                    </a>
                    <div>
                        <input type="submit" value="削除">
                    </div>
                </div>
            }
        }
    }