@import model.ViewValueToDo
@(toDoInfoList: Seq[ViewValueToDo])(implicit messagesProvider: MessagesProvider, requestHeader: RequestHeader)
    @common.Default() {
        @for(toDoInfo <- toDoInfoList) {
            @helper.form(action = controllers.routes.ToDoController.delete()) {
                @helper.CSRF.formField
                <div id="category@toDoInfo.id" class="category" >
                    <input type="hidden" value="@toDoInfo.id" name="id">
                    <div><h3>@toDoInfo.title</h3></div>
                    <div>@toDoInfo.body</div>
                    <div>ステータス：@toDoInfo.stateStr</div>
                    <div>カテゴリ：@toDoInfo.categoryStr</div>
                    <input class="category_color" type="hidden" value=@toDoInfo.color>
                    <a href="@controllers.routes.ToDoController.edit(toDoInfo.id)">
                        <button type="button">編集</button>
                    </a>
                    <div>
                        <input type="submit" value="削除">
                    </div>
                </div>
            }
        }
    }