@import model.ViewValueToDo.ToDoFormData
@import model.ViewValueToDoCategory
@(toDoCategories: Seq[ViewValueToDoCategory], form: Form[ToDoFormData])(implicit messagesProvider: MessagesProvider, requestHeader: RequestHeader)
    @common.Default() {
        @helper.form(action = controllers.routes.ListController.store()) {
            @helper.CSRF.formField
            @helper.inputText(form("title"),
                '_label -> "タイトル")
            @helper.textarea(form("body"),
                '_label -> "本文")
            @helper.select(
                form("categoryId"),
                options = toDoCategories.map(toDoCategory => (toDoCategory.id.getOrElse(-1).toString, toDoCategory.name)),
                '_label -> "カテゴリ")
            <input type="submit" value="登録">
        }
    }